---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      Welcome to <span
        class="text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-400 to-purple-400"
        >my talks</span
      >
    </h1>
    <p class="instructions text-slate-800">
      I'm <a
        class="text-transparent bg-clip-text bg-gradient-to-r from-blue-800 to-purple-600 underline decoration-fuchsia-600"
        href="https://m11r.dev">Matt Miller</a
      >. I've given multiple talks in my career and each hosted here. Most are
      about web development but there's some personal stuff thrown in.
    </p>
    <ul role="list" class="link-card-grid mt-8">
      <Card
        href="/dnd-for-work"
        title="Dungeons & Dragons for Professional Growth"
        body="Learn how D&D helps me every day in my personal and professional life."
      />
      <Card
        href="/sensible-interface-design"
        title="Sensible Interface Design"
        body={`I'm not a designer but during my career I've worked with some great ones and have picked up some theory. 
        This is talk I gave internally about interface design to help educate my team.`}
      />
      <Card
        href="/refactoring-2021"
        title="Refactoring Towards More Maintainable JaveScript"
        body="TODO"
      />
      <Card href="/welcome-to-me" title="Welcome To Me" body="TODO" />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 85ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    --gap: 2rem;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25ch), 1fr));

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0; */
  }
</style>
